{% load static %}
<html lang="en">
<head> 
<title>饺子的小伙伴们</title>
{% load static %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <script src="{% static 'js/imgEnlarge.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <style>* { box-sizing: border-box; } 
    body {margin: 0;}*{box-sizing:border-box;}
    body{margin-top:0px;
        margin-right:0px;
        margin-bottom:0px;
        margin-left:0px;
        font-family:-apple-system, 
        BlinkMacSystemFont, 
        "Helvetica Neue", 
        Helvetica, 
        Roboto, Arial, 
        "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", 
        sans-serif;}. panel{color:rgb(51, 51, 51);font-weight:100;}. logo path{pointer-events:none;fill:none;stroke-linecap:round;stroke-width:7;stroke:rgb(255, 255, 255);}.description{text-align:center;font-size:1em;font-weight:500;line-height:1.8rem;margin-bottom:1rem;}.wechat-group{text-align:center;padding-bottom:10px;}.wechat-group img{max-width:220px;height:auto;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px;margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;width:100%;}.welcome-img img{width:100%;}.bg-gradient-primary{border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px;}.wechat-group.pb-12{text-align:left;}.c2966{color:black;text-align:center;}.c1520{text-align:left;width:220px;en:1;}@media (max-width: 480px){.c1520{text-align:center;}.wechat-group.pb-12{text-align:center;}}</style>
</head>
<body>
<div id="default-editor-page__placeholder" class="panel">
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        
        <section class="wrapper bg-gradient-primary">
            <div class="container py-18 pt-md-14 pb-md-14">
                <div class="row text-center">
                    <div class="col-lg-9 col-xxl-7 mx-auto">
                        <h2 class="display-1 mb-4">饺子的小伙伴们</h2>
                        <p class="lead fs-24 lh-sm px-md-5 px-xl-15 px-xxl-10 mb-7">快来看看饺子的小伙伴们！</p>
                    <p class="lead fs-24 lh-sm px-md-5 px-xl-15 px-xxl-10 mb-7">---XWX--- 网页正在加急建设中....</p> </div></div></div></section></div>
                 
</body>
</html>